# Ignore everything
*

# But not these directories and their contents
!hypr/
!hypr/**
!kitty/
!kitty/**
!waybar/
!waybar/**
!tmux/
!nvim/
!nvim/**


# Also keep the .gitignore file itself
!.gitignore
