# Ignore everything
*

# But not these directories and their contents
!hypr/
!hypr/**
!kitty/
!kitty/**
!waybar/
!waybar/**
!tmux/
!tmux/*
!nvim/
!nvim/**
!install.sh

# Also keep the .gitignore file itself
!.gitignore
